
/* BASIC SETUP */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
        
}
html {
    
    scroll-behavior: smooth;
}
body {
    scroll-behavior: smooth;
    font-family: 'Noto Sans KR', sans-serif; 
    font-size: 20px;
    font-weight: 300;
    background-image: radial-gradient(rgba(251, 249, 238,0.75),rgba(251, 249, 238,0.75)), url(largetree-min.jpg); 
    background-size: cover; 
    color: #fbf9ee;
    height: 2000px;
}
.offer-body {
    height: auto;
}

.clearfix {zoom: 1}

.clearfix:after {
    
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}
/* ----------------------------------- */
/* RESUABLE COMPONENTS */
/* ----------------------------------- */

.section group {
    width: 1280px;
    margin: 0 auto;
  
}

section { padding: 40px 0; }

.col { text-align: justify; }

.box { margin-top: 25px; }


/*HEADING*/

h1,h2 {
    
    text-transform: uppercase;
     font-weight: 400;
}


h1 {
    
    letter-spacing: 2px;
    margin: 15px 15px;
    font-size: 230%;
    margin-bottom: 15px;
    
}

h1:hover {
    color: #c47519;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 15px 15px;
    font-size: 230%;
    font-weight: 400;
    margin-bottom: 15px;
}

h2 {
    
    letter-spacing: 1px;
    font-size: 180%;
    margin-bottom: 30px;
    text-align: center;
    margin-top: 30px;
    
    
}

h2:after {
    
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;

}

h4 { font-weight: 300; }

/* BUTTONS */

.btn {
    
    border: 2px solid #c47519;
    border-radius: 200px;
    text-decoration: none;
    display: inline-block;
    padding: 5px 10px;
    margin: 7px;
    -webkit-transition: background-color 0.3s, border 0.3s, color 0.3s;transition: background-color 0.3s, border 0.3s, color 0.3s;
    
    
}

.btn-join:link,
.btn-join:visited {
    
    background-color: #c47519;
    color: #fbf9ee;
    
}

.btn-join:hover,
.btn-join:active {
    
    background-color: #ad6511;
    color: #fbf9ee;
}

.btn-read:link,
.btn-read:visited {
    
     color: #c47519;
}

.btn-read:hover,
.btn-read:active {
    
    background-color: #ad6511;
    color: #fbf9ee;
}
/*  HEADER  */


header {
    
background-image: radial-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url(pexels-photo-814499-min.jpg);
 background-size: cover;
 background-position: center;
 height: 100vh;
 background-attachment: fixed;

}

.mainlogo {
    
  
    float: left;
    margin-top: 10px;
    width: 200px;
    display: block;

}
.mainlogo:hover,
.mainlogo:active {

    /* something to hover and change logo color */
}

.main-nav {
    float: right;
    margin: 28px 15px;
    list-style: none;
    overflow: hidden;
}

.main-nav li {

    display: inline-block;
    margin: 30px;

}

.main-nav li a:link,
.main-nav li a:visited {
    color: #ffffff;
    padding-bottom: 10px;
    text-transform: uppercase;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;


}

.main-nav li a:hover,
.main-nav li a:active {
    color: #fbf9ee;
    border-bottom: 3px solid #c47519;

}

/* Nav responsive */


/*Sticky navi*/

.sticky {
    position: fixed;
    top: 0s;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.94);
    -webkit-box-shadow: 0 3px 13px #dedede;
    box-shadow: 0 3px 13px #dedede;
    z-index: 9999;

}

.sticky .main-nav {
    margin-top: 5px;
}


.sticky img {
    
    margin-top: 0.2%;

}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
    padding: 15px 0;
    color: #555;

}

.mobile-nav-icon {
    
    
    float: right;
    margin: 30px;
    cursor: pointer;
    display: none;
    color: #fff;
    font-size: 200%;
}

.sticky .mobile-nav-icon { color: #555; }

.mobile-nav-icon:hover { color: #c47519; }


.main-header {
    position: absolute;
    top: 50%;
    left: 10%;
    right: 10%;
    width: auto;
    display: block;
    text-align: center;

}

.main-header a { display: inline-block; }

/* SECTION-FEAUTERS */

.section-featuers { 
    color: #37281f;
    margin: 0 5px;
}

.section-featuers .desc-section-featuers {  margin-bottom: 50px; }

/* OFFERS */

.section-offers {
    
    margin-left: 15%;
    margin-right: 10%;
    padding: 0px;
}

.offer-image {
    
    list-style: none;
    width: 100%;
    
}

.offer-image li {
    
    display: block;
    float: left;
    width: 45%;
}

.figure-image {
    
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000;
    border: none;
}

.top-left { border-top-left-radius: 40px; }

.top-right {  border-top-right-radius: 40px; }

.bottom-left {  border-bottom-left-radius: 40px; }

.bottom-right {  border-bottom-right-radius: 40px; }

.figure-image img {
   
    opacity: 1;
    width: 100%;
    height: auto;
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;
    -webkit-transition: -webkit-transform 0.5s opacity 0.5;
    transition: -webkit-transform 0.5s opacity 0.5;
    transition: transform 0.5s opacity 0.5 ;
    transition: transform 0.5s opacity 0.5, -webkit-transform 0.5s opacity 0.5;
    
    
}

.figure-image img:hover {
    
    opacity: 0.4;
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
}



.figure-image div {
   
    
   
    position: absolute;
    -webkit-transform-origin:50% 0;
    transform-origin:50% 0;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    width: 20%;
    height: auto;
    padding-bottom: 2%;
    margin: 2% 7%;
    overflow: hidden;
    border-radius: 30%;
    -webkit-transition-duration: 0.9s;
    transition-duration: 0.9s; 
   
    
    
}

.figure-image:hover div {
   
    -webkit-transform: scaleY(1);
   
    transform: scaleY(1);
    overflow: hidden;
    height: auto;
    padding: 2% 2%;
    text-align: center;
    color: #fbf9ee;
    background-color: #ad6511;
}



/*  customers-opinion  */

.customers-opinion {
   
    margin: 60px 3px;
   background-image:linear-gradient(rgba(0,0,0,0.65),rgba(0,0,0,0.65)),url(lake-with-mountains-min.jpg);
   background-size: cover;
    background-attachment: fixed;
  
       
}

blockquote {
    
    padding: 2%;
    font-style: italic;
    line-height: 145%;
    position: relative;
    margin-bottom: auto;
    
}
blockquote:before {
    
    
    position: absolute;
    display: block;
    content: "\201C";
    font-size: 350%;
    top: -10px;
    left: -5px;
    
}

cite {
    

    font-size: 70%;
    display: block;
    text-align: justify;
  
}




cite img {
    
    margin-top: 10%;
    margin-left: 5%;
    height: 120px;
    vertical-align: middle;
    border-radius: 50%;
 
    

}

/* footer */

footer {
    
    background-color: rgba(36, 36, 36, 0.91);
    padding: 1px;
    height: 140px;
    margin: 20px 0;
    font-size: 90%;
    
}
.center-footer {
    color: #fbf9ee;
    font-size: 90%;
    text-align: center;
    margin-top: 50px;
    
}
footer p { 
    
}


.left-part-footer {

  
    list-style: none;
    float: left:
}



.left-part-footer a img {
   
    width: 155px;
    
}


.social-links {
    
    margin: -10px 10px 0px;
    list-style: none;
    float: right;
    
}

.social-links li {
    display: inline-block;
    margin-right: 25px;
    font-size: 210%;
    margin-top: 
}


.left-part-footer:link,
.left-part-footer:visited,
.social-links li a:link,
.social-links li a:visited {
    
     text-decoration: none;
    border: 0;
    color: #fbf9ee;
    transition: color 0.2s;
    
}

.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus {
    
     transition: 0.2s;
}

.logo-facebook:hover { color: #3b5998; }

.logo-twitter:hover { color: #00aced; }

.logo-googleplus:hover { color: #db3236; }

.flex-container {
    display: flex;
  justify-content: center;
    background-size: 100%;
    background-image:linear-gradient(rgba(0,0,0,0.65),rgba(0,0,0,0.65)),url(lake-with-mountains-min.jpg);
}

.flex-container > div {
  
  width: auto;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: auto;
}
.flex-container-2 {
    display: flex;
  justify-content: space-around;
    background-size: 100%;
    background-image:linear-gradient(rgba(0,0,0,0.65),rgba(0,0,0,0.65)),url(lake-with-mountains-min.jpg);
}

.flex-container-2 > div {
  
  width: auto;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: auto;
}